<div class="second-products">
	<ul class="nav nav-tabs products__title-block">
			<li class="nav-item active">
				<a class="nav-link products__tabs" data-toggle="tab" href="#bestDeals">Best Deals</a>
			</li>
			<li class="nav-item">
				<a class="nav-link products__tabs" data-toggle="tab" href="#computers">Computers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link products__tabs" data-toggle="tab" href="#audio">TV & Audio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link products__tabs" data-toggle="tab" href="#cameras">Cameras</a>
			</li>
			<li class="nav-item">
				<a class="nav-link products__tabs" data-toggle="tab" href="#smartphones">Smartphones</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade active in" id="bestDeals">
				<div class="products__products">
					{{ bestDeals }}
				</div>
			</div>
			<div class="tab-pane fade" id="computers">
				<div class="products__products">
					{{ bestDeals }}
				</div>
			</div>
			<div class="tab-pane fade" id="audio">
				<div class="products__products">
					{{ bestDeals }}
				</div>
			</div>
			<div class="tab-pane fade" id="cameras">
				<div class="products__products">
					{{ bestDeals }}
				</div>
			</div>
			<div class="tab-pane fade" id="smartphones">
				<div class="products__products">
					{{ bestDeals }}
				</div>
			</div>
		</div>
</div>
