<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link href="catalog/view/theme/elaravel/stylesheet/main.css" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}
</head>
<body>
  <header class="header">
    <div class="header__top">
      <div class="header__top-content">
        <span>Welcome to eLaravel</span>
        <div class="dropdown">
          <a href="{{ account }}" title="{{ text_account }}" class="dropdown dropdown-toggle profile" data-toggle="dropdown">
            <img  class="profile__img" src="./image/profile-img.png" alt="">
            <span class="profile__text" >{{ text_account }}</span>
          </a>
          <ul class="dropdown-menu profile-menu">
            {% if logged %}
            <li><a class="profile-menu__item" href="{{ account }}">{{ text_account }}</a></li>
            <li><a class="profile-menu__item" href="{{ order }}">{{ text_order }}</a></li>
            <li><a class="profile-menu__item" href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a class="profile-menu__item" href="{{ download }}">{{ text_download }}</a></li>
            <li><a class="profile-menu__item" href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a class="profile-menu__item" href="{{ login }}">{{ text_login }}</a></li>
            <li><a class="profile-menu__item" href="{{ register }}">{{ text_register }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div id="logo" class="logo">
        <a href="{{ home }}"><img src="{{logo}}" alt="eLaravel"></a>
      </div>
      {{ searchwithcategories }}
      <div class="header-buttons">
        <a class="header-buttons__btn" href="compare-products">
          <img src="./image/compare.png" alt="compare">
        </a>
        <a class="header-buttons__btn" href="{{ wishlist }}">
          <img src="./image/wish-list.png" alt="wish-list">
        </a>
        <a class="header-buttons__btn header__cart" href="{{ shopping_cart }}">
          <img src="./image/cart.png" alt="cart">
            {% for total in totals %}
              <div class="header__price">
              {{ total.text }}
              </div>
            {% endfor %}
        </a>
      </div>
    </div>
  </header>
  {{ menu }}